<div th:fragment="news" class="news-widget">
    <div class="sec-label">Новости дома</div>
    <div class="news-grid">
        <div th:each="item : ${newsList}"
             class="news-card"
             th:onclick="|location.href='/news/${item.id}'|">
<!--            <span class="news-card-tag" th:text="${item.category.displayName}">Объявление</span>-->
            <p class="news-card-title" th:text="${item.title}">Заголовок новости</p>
            <p class="news-card-desc" th:text="${item.description}">Описание</p>
            <div class="news-card-footer">
        <span class="news-card-date"
              th:text="${#temporals.format(item.createdAt, 'dd MMM', new java.util.Locale('ru'))}">
          20 июн
        </span>
                <span class="news-card-arrow">→</span>
            </div>
        </div>
    </div>
</div>